@model SoloCapstone.Models.Customer

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CPhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CStreet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CZipCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RFirsName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RStreet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RZipCode)
        </th>
        <th></th>
    </tr>


    <tr>
        <td>
            @Html.DisplayFor(model => model.CFirstName)
        </td>
        <td>
            @Html.DisplayFor(model => model.CLastName)
        </td>
        <td>
            @Html.DisplayFor(model => model.CEmail)
        </td>
        <td>
            @Html.DisplayFor(model => model.CPhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(model => model.CCity)
        </td>
        <td>
            @Html.DisplayFor(model => model.CStreet)
        </td>
        <td>
            @Html.DisplayFor(model => model.CState)
        </td>
        <td>
            @Html.DisplayFor(model => model.CZipCode)
        </td>
        <td>
            @Html.DisplayFor(model => model.RFirsName)
        </td>
        <td>
            @Html.DisplayFor(model => model.RLastName)
        </td>
        <td>
            @Html.DisplayFor(model => model.RCity)
        </td>
        <td>
            @Html.DisplayFor(model => model.RStreet)
        </td>
        <td>
            @Html.DisplayFor(model => model.RState)
        </td>
        <td>
            @Html.DisplayFor(model => model.RZipCode)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { Model.CustomerId }) |
            @Html.ActionLink("Details", "Details", new { Model.CustomerId }) |
            @Html.ActionLink("Delete", "Delete", new { Model.CustomerId })
        </td>
    </tr>


</table>
