@model SoloCapstone.Models.Event

@{
    ViewBag.Title = "ViewJournal";
    Layout = null;
}


<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Laurens Care Geriatrics</title>
    <link rel="stylesheet" href="~/Content/JournalStyle.css" />
</head>
<body>
    <header>
        <div class="wrapper">
            <div class="logo">
                <a href="/Home/Index"><img src="~/Images/LaurensCare.png" alt="pathing issue" /></a>
            </div>
            <ul class="nav-area">
                @if (User.IsInRole("Customer"))
                {
                    @*<li><a>@Html.ActionLink("About", "About", "Home")</a></li>*@
                    <li><a>@Html.ActionLink("Leave A Review", "WriteReview", "Customers")</a></li>
                    <li><a>@Html.ActionLink("Facilities", "FacilityReviews", "Customers")</a></li>
                    <li><a>@Html.ActionLink("Journal Entries", "CustomerJournals", "Customers")</a></li>
                    <li><a>@Html.ActionLink("Log Out", "LogOut", "Customers")</a></li>
                }
                else if (User.IsInRole("Employee"))
                {
                    <li><a>@Html.ActionLink("Employee Home", "Index", "Employees")</a></li>
                    <li><a>@Html.ActionLink("Add Facility Review", "AddFacilityReview", "Employees")</a></li>
                    <li><a>@Html.ActionLink("Log Out", "LogOut", "Employees")</a></li>
                }
                else
                {
                    <li><a>@Html.ActionLink("Register", "Register", "Account")</a></li>
                    <li><a>@Html.ActionLink("Login", "Login", "Account")</a></li>
                }
            </ul>
        </div>

        <div class="box">
                <h1>Journal Entry</h1>
            <br />
                <h2>@Html.DisplayFor(model => model.JournalEntry)</h2>
          
        </div>
        
    </header>
</body>
</html>










