@model SoloCapstone.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = null;
}


<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Laurens Care Geriatrics</title>
    <link rel="stylesheet" href="~/Content/Style.css" />
</head>
<body>
    <header>
        <div class="wrapper">
            <div class="logo">
                <img src="~/Images/LaurensCare.png" alt="pathing issue" />
            </div>
            <ul class="nav-area">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                @if (User.IsInRole("Customer"))
                {
                    <li><a>@Html.ActionLink("Leave A Review", "WriteReview", "Customers")</a></li>
                    <li><a>@Html.ActionLink("Facilies", "FacilityReviews", "Customers")</a></li>
                    <li><a>@Html.ActionLink("Journal Entries", "CustomerJournals", "Customers")</a></li>
                }
                else if (User.IsInRole("Employee"))
                {
                    <li><a>@Html.ActionLink("Employee Home", "Index", "Employees")</a></li>
                    <li><a>@Html.ActionLink("Add Facility Review", "AddFacilityReview", "Employees")</a></li>
                }
                else
                {
                    <li><a>@Html.ActionLink("Register", "Register", "Account")</a></li>
                    <li><a>@Html.ActionLink("Login", "Login", "Account")</a></li>
                }
            </ul>
        </div>

        <section id="registerForm">
            <div class="box" id="nonCreateBox">
                 @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                  {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <h1>@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })</h1>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    <h1>@Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })</h1>
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                    <h1>@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })</h1>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    <h1>@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })</h1>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    <input type="submit" class="btn btn-default" value="Register" />
                  }
           </div>
        </section>


    </header>
</body>
</html>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}






















